<div class="card card-success">
    <div class="card-header">
        <h4>Change Password</h4>
    </div>
    <div class="card-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="currentPassword" class="col-sm-2 control-label">Current Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="currentPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>