<h3>Change Password</h3>
<hr />
<form novalidate class="form">
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Currnet Password">
        <mat-error>Current Password is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="New Password">
        <mat-error>New Password is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirm New Password">
        <mat-error>Confirm New Password is required</mat-error>
    </mat-form-field>
    <div class="button-row" style="margin-top:50px">
        <button mat-raised-button  color="primary" type="submit">Save</button>
        <a mat-raised-button routerLink=".">Cancel</a>
    </div>
</form>
