<div class="col-md-12">
    <h3>Profile</h3>
    <hr/>
    <app-alert [result]="result"></app-alert>
    
    <form novalidate class="form" [formGroup]="profileForm" (ngSubmit)="update()">
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="userId" placeholder="User Id" >
        </mat-form-field>
        <mat-form-field class="full-width">
                <input matInput type="text" formControlName="email" placeholder="Email" >
        </mat-form-field>  
        <mat-form-field class="full-width">
                <input matInput type="text" formControlName="userName" placeholder="User Name" >
        </mat-form-field>
        <mat-form-field>
            <input type="tel" matInput placeholder="Telephone" formControlName="phoneCtrl">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <div class="button-row" style="margin-top:50px">
            <button mat-raised-button  color="primary" type="submit" >Save</button>
            <button mat-raised-button type="button" (click)="cancel()" >Cancel</button>
            
        </div>
    </form>
</div> 
