<div class="card">

    <div class="card-body">
        <div style="display: block;width:130px">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType" 
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
                    [options]="options">

            </canvas>
        </div>

    </div>
    <div class="card-header">
        {{project.Name}}
    </div>
</div>