<div class="navbartop" >
        <mat-toolbar>
                <mat-toolbar-row>
                    <button mat-icon-button (click)="snav.toggle()" *ngIf="IsAuthenticated"><mat-icon>menu</mat-icon></button>
                    <h1 class="example-app-name">KanbanBoard</h1>
                    
                    <button mat-button [matMenuTriggerFor]="newMenu"><mat-icon>add</mat-icon></button>
                    <mat-menu #newMenu="matMenu">
                        <button mat-menu-item [routerLink]="['/projects/projectdetail']">Project</button>
                        <button mat-menu-item [routerLink]="['/projects/task']">Task</button>
                    </mat-menu>
                    <span class="example-fill-remaining-space"></span>
                   <button mat-button (click)="Logout()"><mat-icon>exit_to_app</mat-icon></button>
                </mat-toolbar-row>
              </mat-toolbar>
</div>
<mat-sidenav-container class="main">

    <mat-sidenav #snav mode="side" class="navleft" opened="mobileQuery.matches ? false : true" 
    [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [hidden]="!IsAuthenticated">
        <app-side-bar></app-side-bar>
    </mat-sidenav>

    <mat-sidenav-content class="mainContainer">
        <app-container></app-container>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
