<div class="navbartop">
        <mat-toolbar>
                <mat-toolbar-row>
                    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
                    <h1 class="example-app-name">KanbanBoard</h1>
                  <button mat-button >Projects</button>
                </mat-toolbar-row>
              </mat-toolbar>
</div>
<mat-sidenav-container class="main">

    <mat-sidenav #snav mode="side" class="navleft" opened="true" 
    [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <app-side-bar></app-side-bar>
    </mat-sidenav>

    <mat-sidenav-content class="mainContainer">
        <app-container></app-container>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
