<div class="row">
        <div class="col">
            <h5>login</h5>
        </div>
    </div>
    <div class="row">
<div class="col">
<mat-card>
        <mat-card-content>

<form novalidate class="form" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="alert alert-danger" role="alert" *ngIf="loginError">
            {{errorMessage}}
        </div>
    <mat-form-field class="full-width">
        <input matInput type="text" id="uname" name="uname" [(ngModel)]="userName" placeholder="User Name" required #uname="ngModel">
        <mat-error *ngIf="uname.hasError('required')">User Name is requied</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" id="pname" name="pname" [(ngModel)]="password" placeholder="Password" required #pname="ngModel">
        <mat-error *ngIf="pname.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="remember" id="prem" name="prem" #prem="ngModel" >Remember Me</mat-checkbox>

    <div class="button-row" style="margin-top:50px">
        <button mat-raised-button  color="primary" type="submit" [disabled]="loginForm.invalid">Sign In</button>
    </div>

</form>
</mat-card-content>
</mat-card>
</div> 
</div>