:host {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y:auto;
}

.navleft {
    
    display:flex;
    flex-grow: 0;
    min-width: 260px;
    clear:both;
    height: 100% !important;
    background-color: #3F547F;
    color: #dddddd;

}