<div class="row">
    <div class="col">

        <h3>Projects</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-header">
                Projects
            </div>
            <div class="card-body">
                Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
                aslkd fjaslfjlasfj
                l akjsdf
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-header">
                Projects
            </div>
            <div class="card-body">
                Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
                aslkd fjaslfjlasfj
                l akjsdf
            </div>
        </div>
    </div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-header">
                Projects
            </div>
            <div class="card-body">
                Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
                aslkd fjaslfjlasfj
                l akjsdf
            </div>
        </div>
    </div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div>
</div>