<div class="row">
    <div class="col">

        <h3>Projects</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="card bg-dark text-white" >
            <div class="card-header">
                Projects
            </div>
            <div class="card-body">
               <p> Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
                aslkd fjaslfjlasfj
                l akjsdf</p>
                <a href="#" class="btn btn-primary" [routerLink]="['../projectdetail']">Project Detail</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="card bg-danger text-white">
            <div class="card-header">
                Projects
            </div>
            <div class="card-body">
                Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
                aslkd fjaslfjlasfj
                l akjsdf
            </div>
        </div>
    </div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card bg-success text-white">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card bg-primary text-white">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card bg-info text-white">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card bg-warning text-white">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-header">
                Projects
            </div>
            <div class="card-body">
                Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
                aslkd fjaslfjlasfj
                l akjsdf
            </div>
        </div>
    </div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div><div class="col-md-4 col-lg-3 col-sm-6">
    <div class="card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            Project description k alksf lasjfdlasjlsadkj lasjdfl asldfjadslfjalsjflasjflasj
            aslkd fjaslfjlasfj
            l akjsdf
        </div>
    </div>
</div>
</div>